[include]
  path = ~/.gitidentity
[github]
  user = thilko
  token = 896af5ea1ed34bf260cb00b5353b5a47
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  tool = opendiff
[core]
  excludesfile = ~/.gitignore
  editor = "vim -u NONE -N -c 'startinsert'"
	autocrlf = input
[alias]
  ps = push
  br = branch
  pr = pull --rebase
  pl = pull
  rh = reset --hard
  st = status
  ci = commit
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset(%cn)' --abbrev-commit
  cp = cherry-pick
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[push]
	default = current
[credential]
  helper = cache
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
[user]
  name = Thilko Richter
  email = me@thilko.com
