[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Ultimate Edition
Icon=/home/thilko/apps/idea-IU-191.7141.44/bin/idea.svg
Exec="/home/thilko/apps/idea-IU-191.7141.44/bin/idea.sh" %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
